@import "tailwindcss";

@theme {
  --color-surface: #1a1a2e;
  --color-card: #0f3460;
  --color-card-hover: #16213e;
  --font-family-sans: 'Noto Sans Hebrew', sans-serif;
}

body {
  background-color: #1a1a2e;
  color: white;
}
